[Unit]
Description=kiln-controller
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/brian/kiln-controller
ExecStart=/home/brian/kiln-controller/venv/bin/python /home/brian/kiln-controller/kiln-controller.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
